<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <h1> <%= title %> </h1>
    <% marcas.forEach(marca =>{ %>

    <ul>
        <li> <%= marca %> </li>
    </ul>

    <% }) %> 
    
</body>
</html>